@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

:root{
    --cor1: #13b348;
    --cor2: #00A219;
    --cor3: #007B00;
    --radius: 10px;
}

::-webkit-scrollbar {
    width: 0.3vw;
  }
  ::-webkit-scrollbar-track {
    scrollbar-color: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--cor3); 
    border-radius: 10px;
  }

// Padrões
a.btn-link{
    background: var(--cor1);
    padding: 7px 10px;
    border-radius: var(--radius);
    color: white;
    margin: 0 5px;
}

a.btn-link:hover{
    background: var(--cor3);
    transition: all ease 100ms;
}

input, select{
    height: 50px;
    border: 2px solid var(--cor3);
    border-radius: var(--radius);
    padding: 0 15px;
    background: white;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    color: black;
    border-radius: var(--radius);
    padding: 30px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

body{
    display: flex;
    overflow-x: hidden;
}

main section.funcionarios .top {
    margin-bottom: 30px;
  }
  main section.funcionarios .top a {
    background-color: var(--cor2);
    padding: 15px;
  }
  main section.funcionarios #lista-funcionarios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    font-size: 20px;
  }
  
  main section.funcionarios #lista-funcionarios .alinhamento{
    display: flex;
    flex-direction: row;
  }
  
  main section.funcionarios #lista-funcionarios .funcionario h3 {
    margin-bottom: 15px;
  }
  main section.funcionarios #lista-funcionarios .funcionario p {
    margin: 5px 0;
  }
  main section.funcionarios #lista-funcionarios .funcionario a.btn-link {
    margin: 7px;
  }
  main section.funcionarios #lista-funcionarios .funcionario .box-gear {
    height: 4vh;
    border-width: 4px;
    border-color: var(--cor1);
    border-radius: var(--radius);
  }
  main section.funcionarios #lista-funcionarios .box-gear .gear{
    height: 4vh;
  
  }

header{
    // Aqui está a largura do navbar
    nav#menu{
        max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
        .logo{
            display: flex;
    justify-content: center;
    box-sizing: border-box;
            img{
                width: 60%;
                height: auto;
            }
        }
        .img-nav:hover{

            filter: invert(38%) sepia(92%) saturate(1739%) hue-rotate(105deg) brightness(90%) contrast(103%);
            transition: all ease-in-out 150ms;
          
          }

          .img-nav:last-child:hover{

            filter: invert(20%) sepia(63%) saturate(1878%) hue-rotate(348deg) brightness(101%) contrast(94%);

          }
        hr{
            opacity: 0.5;
            margin: 15px 0;
        }
        a{
            color: black;
            display: flex;
            align-items: center;
            margin: 23px 0;
            font-size: 1.3rem;
            img{
                margin-right: 15px;
                height: 20px;
                width: 20px;
            }
        }
    }
    nav#menu-mobile{
        display: none;
        top: 0;
        box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.3);
        width: 70px;
        height: 100vh;
        justify-content: center;
        padding: 15px 0;
        img{
            width: 50px;
            height: fit-content;
            cursor: pointer;
            height: 25px;
        }
    }
}

main{
    width: calc(100% - 300px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--cor1);
    background-image: url('../../assets/dash/dash.png');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    padding: 30px;
    section.top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .top-esq{
            p.titulo{
                font-size: 1.3rem;
            }
            p.subtitulo{
                font-size: 1rem;
                color: #eee;
            }
            select{
                width: 200px;
            }
        }
        .top-meio{
            input{
                border: none;
                width: 400px;
                outline: none;
            }
        }
        .top-dir{
            display: flex;
            align-items: center;
            button{
                width: 40px;
                height: 40px;
                border-radius: var(--radius);
                img{
                    width: 85%;
                    height: 85%;
                }
            }
            .nome{
                margin-left: 15px;
                margin-right: 10px;
                font-size: 1.5rem;
            }
            img{
                width: 55px;
                height: 55px;
                border-radius: var(--radius);
            }
        }
    }
    section#maquinas{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        margin-top: 30px;
        .box-maquina{
            img{
                width: 50%;
                max-width: 80px;
                margin-bottom: 15px;
            }
            h3{
                margin-bottom: 5px;
                font-size: 1.4rem;
            }
            .botoes{
                margin: 15px;
            }
            position: relative;
            &.alerta::after{
                content: '!';
                font-family: 'Arial';
                color: white;
                font-size: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #D0342C;
                border: 5px solid black;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                top: -25px;
                right: -25px;
            }
        }
    }
    section#alertas{
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 5fr;
        gap: 30px;
        select{
            width: 100%;
        }
        .menu-lateral{
            display: flex;
            flex-direction: column;
            .box{
                padding: 15px 30px;
                align-items: flex-start;
                margin: 7px 0;
                p{
                    font-size: 1.3rem;
                }
                .opcao{
                    display: grid;
                    grid-template-columns: 35px 1fr;
                    align-items: center;
                    justify-items: start;
                    margin: 5px 0;
                    input{
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        .main{
            font-size: 20px;
            input{
                margin: 7px 0;
            }
            .alerta{
                margin: 15px 0;
                padding: 30px;
                display: grid;
                gap: 10px;
                grid-template-columns: 70% 30%;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: "titulo data"
                                     "info1 ."
                                     "info2 btn";
                span{
                    font-weight: bold;
                }
                h3#titulo-alerta{
                    grid-area: titulo;
                }
                p#data-alerta{
                    grid-area: data;
                    text-align: right;
                    font-weight: bold;
                }
                p#resolucao-alerta{
                    grid-area: info2;
                }
                p#responsavel-alerta{
                    grid-area: info1;
                }
                a#btn-alerta{
                    grid-area: btn;
                    width: fit-content;
                    justify-self: end;
                }
            }
        }
    }
    section.funcionarios{
        .top{
            margin-bottom: 30px;
            a{
                background-color: var(--cor2);
                padding: 15px;
            }
        }
        #lista-funcionarios{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;
            justify-content: center;
            font-size: 20px;
            .funcionario{
                h3{
                    margin-bottom: 15px;
                }
                p{
                    margin: 5px 0;
                }
                a.btn-link{
                    margin: 7px;
                }
            }
        }
    }
    section.dashboard-analise{
        margin-top: 30px;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr repeat(3, 250px);
        grid-template-areas: "k1 k2 k3"
                             "g1 g1 i2"
                             "g2 g2 i2"
                             "g3 g3 i1";
                             
        .kpi-horas{
            grid-area: k1;
        }
        .kpi-mediaProc{
            grid-area: k2;
        }
        .kpi-mediaRam{
            grid-area: k3;
        }
        .grafico-processador{
            grid-area: g1;
        }
        .grafico-ram{
            grid-area: g2;
        }
        .grafico-disco{
            grid-area: g3;
        }
        .info-funcionario{
            grid-area: i1;
        }
        .info-maquina{
            grid-area: i2;
        }
        .box{
            padding: 15px;
            display: block;
            font-size: 20px;
            hr{
                margin: 10px 0;
                opacity: 0.4;
            }
        }
        .box-kpi{
            h1{
                text-align: center;
                font-size: 3rem;
                margin: 15px 0;
            }
        }
        .grafico{
            .header{
                display: flex;
                justify-content: space-between;
                padding: 7px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                .dir{
                    display: flex;
                    align-items: center;
                    .legenda{
                        width: 45px;
                        height: 25px;
                        border-radius: 5px;
                    }
                    span{
                        margin-right: 30px;
                        margin-left: 7px;
                    }
                    .alto{
                        background: #D0342C;
                    }
                    .normal{
                        background: #00CA43;
                    }
                }
                select{
                    height: 30px;
                    padding-left: 10px;
                }
            }
        }
    }
    section.dashboard{
        height: 100%;
        margin-top: 30px;
        display: grid;
        gap: 25px;
        font-size: 20px;
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: "g1 g2 g3"
                             "t1 t1 t1"
                             "t2 t2 t2";
        #gfCpu{
            grid-area: g1;
        }
        #gfDisco{
            grid-area: g2;
            div{
                margin: 0 auto;
                max-height: 200px;
                &::after{
                    content: attr(data-content);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.7rem;
                }
            }
            position: relative;
        }
        #gfRam{
            grid-area: g3;
        }
        #tbFuncionario{
            grid-area: t1;
        }
        #tbMaquina{
            grid-area: t2;
        }
        .grafico, .tabela{
            color: black;
            background: #eee;
            border-radius: var(--radius);
            padding: 15px;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h3{
                font-size: 1.5rem;
                margin-bottom: 15px;
            }

        }
    }
}

@media screen and (max-width: 1400px){
    header{
        nav#menu{
            display: none;
            transform: translateX(-100%);
        }
        nav#menu-mobile{
            position: relative;
            display: flex;
        }
    }
    main{
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 1200px){
    main{
        section.dashboard{
            grid-template-columns: 100%;
            grid-template-areas: "g1"
                                 "g2"
                                 "g3"
                                 "t1"
                                 "t2";
        }
    }
}

@media screen and (max-width: 1100px){
    header{
        nav{
            padding: 10px 5px;
            a{
                font-size: 1.1rem;
            }
        }
    }
    #inp-pesquisar-funcionario{
        display: none;
    }
}